/************************************************************************************************************************
***************************************Mobilanpassad hemsida för enheter under 640px****************************************************************************
************************************************************************************************************************/

@media only screen and (max-width:640px) {

.webbbutt{
	visibility:hidden;
}


.logo {
	display: none;
}

/* LogoM står för logomobil. En logga anpassad för att passa en mobil vy.*/
.logoM {
	float: center;
	display: inline;
	width: 70%;
}

.wrapper {
	float: center;  
    width: 85%;  
    margin: 2px;             /* centrerar sidan */  
}  

.menu {  
    float: center;   
    border-bottom: none;        /* undvik en dubbel border */  
    height:45px;  
    font-size: 30px;
}

.content {  
	justify: auto;
    float: left;  
    font-family: Arial;  
 
    text-align: left; 
    margin: 0px;  
    width: 100%;                /* fyller upp hela div:en */  
}  

.leftsidebar {
	display: none;
}

ul#navigation {
	display: block;

}
<<<<<<< HEAD


a, li{color: #FFF;
a:active,
a:visited {
	display:block;
=======
.userbar {
	float: left;
}	
>>>>>>> css
}