/* Klass för logon i header */ 
.logo {
	float: left;
	margin-left: 17%;
	width: 20%;
}
/* Klass för mobila logon i header */ 
.logoM {
	display: none;
}

ul#navigation {
	display: none;
}

body { 

    background-image: url(../pics/bakgrundsvart.jpg);
    text-align: center;         /* Centrering för IE */  

	background-image: url(../pics/bakgrundsvart.jpg);
    text-align: center;          

}

div {
	border-radius: 10px;
}

.wrapper {  
    width: 80%;  
    margin: auto;             /* center the page */  
}  


.content {  
    background-color: #fff;  
    border: 1px solid #000;  
    float: right;  
    font-family: Arial;  
    padding: 20px 30px;  
    text-align: left; 
    margin: 5px;  
    width: 650px;                /* fill up the entire div */  

}  

.menu {  
    float: left;  
    border: 1px solid #000;  
    border-bottom: none;        /* avoid a double border */  
    clear: both;                /* clear:both makes sure the content div doesn't float next to this one but stays under it */  
    width:100%;  
    height:20px;  
    padding: 20px;  
    background-image: url(../pics/metall.jpg);
    background-color: #6b8291;  
    text-align: left;  
    font-size: 100%;  
}  

.menu a:hover {
    background-color: #009FC1;  
}  


.userbar {   
    width: 250px;  
}
 
/* begin table styles */ 
table {  
    border-collapse: collapse;  
    width: 100%; 
}
  
table a {  
    color: #000;  
}
  
table a:hover {  
    color:#373737;  
    text-decoration: none;  
}
 
th {  
    background-color: #B40E1F;  
    color: #F0F0F0;  
}
  
td {  
    padding: 5px;  
}
  
/* Fonts */  
h1 {  
    font-family: Arial;  
    color: #F1F3F1;  
}
 
h3 {
margin: 0; padding: 0;
}  

/* Menu styles */  
.menu {  
    float: left;  
    border: 1px solid #000;  
    border-bottom: none;        /* undvik dubbel border. */  
    clear: both;                /* clear:both makes sure the content div doesn't float next to this one but stays under it */  
    width:100%;  
    height:20px;  
    padding: 20px;  
    background-image: url(../pics/metall.jpg);
    background-color: #6b8291;  
    text-align: left;  
    font-size: 100%;  
}  

.menu a:hover {
    background-color: #009FC1;  
}

.userbar{
	float: right;
}

.itemlog, .sub_navigation, #navigation {  
	border-radius: 2px;
    background-color: #00728B;  
    border: 1px solid #032472;  
    color: #FFF;  
    font-family: Arial;  
    padding: 3px;  
    text-decoration: none;  
}

.item {
	border-radius: 2px;
    background-color: #00728B;  
    border: 1px solid #032472;  
    color: #FFF;  
    font-family: Arial;  
    padding: 3px;  
    text-decoration: none; 
	margin: 3px;
	float: left;
}

.itemlog {
	margin: 3px;
	float: right;
}

.leftsidebar {
	float: left;  
    border: 1px solid #000;  
    border-bottom: none;        /* avoid a double border */  
    clear: both;                /* clear:both makes sure the content div doesn't float next to this one but stays under it */  
    width:25%;  
    height:750px;  
    padding: 20px;  
    background-image: url(../pics/metall.jpg);
    background-color: #6b8291;  
    text-align: left;  
    font-size: 100%;  
}
    
.twitter-timeline{
	margin: 3px;
	width: 250px;
}

.leftpart {  
    width: 70%;  
}
 
.rightpart {  
    width: 30%;  
}
  
.topic-post {  
    height: 100px;  
    overflow: auto;  
}
  
.post-content {  
    padding: 30px;  
}
  
textarea {  
    width: 500px;  
    height: 500px;  
}

#footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: px;
	color: #8a8383;
	font-size: 65%;  
    padding: 3px 0 0 0;
    clear: both;
    }

